@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.container {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}
.main {
    background: $primary-color;
}
.form {
    margin: 50px 0 0;
    text-align: left;
    &__label {
        font-weight: 500;
        line-height: 19px;
        display: block;
    }
    &__input {
        height: 54px;
        width: 100%;
        margin: 15px 0 0;
        padding: 17px 26px;
        border: 1px solid #BBBBBB;
        box-sizing: border-box;
        border-radius: 5px;
        &--error {
            border: 1px solid red;
        }
    }
}
.flex {
    display: flex;
    align-items: center;
    &--center {
        justify-content: center;
    }
    &--space {
        justify-content: space-between;
    }
}
.link {
    margin: 40px auto;
    width: 100%;
    border: 1px solid #878787;
    background: inherit;
    border-radius: 26px;
    padding: 17px 30px 13px;
    transition: all 0.4s ease;
    &:hover {
        cursor: pointer;
        background: #dfdfdf;
    }
}
.logo-text {
    font-size: 54px;
    line-height: 63px;
    margin-left: 15px;
}
.see-all-btn {
    border: none;
    outline: none;
    background: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #A9A9A9;
    &:hover {
        cursor: pointer;
    }
}
.align-center {
    display: flex;
    align-items: center;
}
.playlist-table{ 
    width: 100%;
    margin-top: 20px;
    &__row {
        display: flex;
        padding: 8px 10px;
        height: 40px;
    }
    &__id {
        font-weight: 600;
        font-size: 20px;
    }
    &__cover{
        width: 58px;
        height: 58px;
        border-radius: 2px;
        margin-right: 12px;
    }
    &__item{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        &--time {
            color: #979797;
        }
    }
    &__img {
        img {
            width: 58px;
            height: 58px;
            overflow: hidden;
            border-radius: 2px;
            object-fit: cover;
            margin-right: 12px;
        }
    }
}
.playlist-hover {
    height:100%;
    width: 100%;
    position: absolute;
    top: 33%;
    left: 10px;
    z-index: 5;
}
.playlist-list-item {
    position: relative;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all 0.3s ease;
    &:hover, &--active {
        background: $gray;
    }
}
.album-hover {
    height:100%;
    width: 100%;
    position: absolute;
    top: 33%;
    left: 3px;
    z-index: 4;
}